<h3>_GrandChildComponent</h3>
<div>@Massage</div>
<div>@LuckyNumber</div>

@code {
    [CascadingParameter(Name = "massage")]
    public string Massage { get; set; }
    [CascadingParameter(Name = "number")]
    public string LuckyNumber { get; set; }
}
