<h3>_GrandChildComponent</h3>
<div>@Massage</div>
<div>@LuckyNumber</div>

@code {
    [CascadingParameter(Name = "message")]
    public string Massage { get; set; } = string.Empty;
    [CascadingParameter(Name = "number")]
    public string LuckyNumber { get; set; } = string.Empty;
}
