<h3>_LifeCycleChild</h3>
@foreach(string eventCal in EventCal )
{
    <p>@eventCal</p>
}
@code {
    [Parameter]
    public int currentCount { get; set; }

    public List<string> EventCal = new();
    protected override void OnInitialized()
    {
        EventCal.Add("Child - OnInitialized called");
        base.OnInitialized();
    }
    protected override async Task OnInitializedAsync()
    {
        EventCal.Add("child - OnInitialized async called");
        await Task.Delay(1000);
    }
    protected override void OnParametersSet()
    {
        EventCal.Add("child - OnParametersSet called");
    }
}
