@page "/BlazorJson"
@inject IJSRuntime _JSruntime;
<div>
    <button class="btn btn-primary" @onclick="SetConfirmJs">test Confrim mrthod with js runtime</button>
</div>
@if (massage)
{
    <p>Confirm Clicked</p>
}
else
{
    <p>waiting for confirmation</p>
}

@code {
    public bool massage { get; set; }
    private async Task SetConfirmJs()
    {
        massage = await _JSruntime.InvokeAsync<bool>("confirm", "test subject");
    }
}
