@page "/BlazorJson"
@inject IJSRuntime _JSruntime;
<div>
    <button class="btn btn-primary" @onclick="SetConfirmJs">test Confrim mrthod with js runtime</button>
</div>
@if (message)
{
    <p>Confirm Clicked</p>
}
else
{
    <p>waiting for confirmation</p>
}
<div claas="row">
    <div>
        <button class="btn btn-success" @onclick="SetSuccessFulMessage">Succesful</button>
    </div>
    <div>
        <button class="btn btn-danger" @onclick="SetErrorFulMessage">Error</button>
    </div>
</div>
<div claas="row">
    <div>
        <button class="btn btn-success" @onclick="SetSuccessFulAlert">Succesful</button>
    </div>
    <div>
        <button class="btn btn-danger" @onclick="SetErrorFulAlert">Error</button>
    </div>
</div>

@code {
    public bool message { get; set; }
    private async Task SetConfirmJs()
    {
        message = await _JSruntime.InvokeAsync<bool>("confirm", "test subject");
    }
    private async Task SetSuccessFulMessage()
    {
        await _JSruntime.SetSuccessFulMessageToastr("Operation was successfull", "Success", 500);
    }
    private async Task SetErrorFulMessage()
    {
        await _JSruntime.SetErrorFulMessage("Operation Failed", "Error", 10000);
    }
    private async Task SetSuccessFulAlert()
    {
        await _JSruntime.SetSuccessFulMessageSA("Operation was successfull", "Success", 500);
    }
    private async Task SetErrorFulAlert()
    {
        await _JSruntime.SetErrorFulMessageSA("Operation Failed", "Error", 10000);
    }
}
