@page "/RazorComponents/ParentComponent"

<_ChildComponent Title="This is a Test" ShowMassage="ShowMassage">
    Testing FragmentRender
</_ChildComponent>

    <p>@Massage</p>
<_ChildComponent Title="This is a Test" ShowMassage="ShowMassage">
   
</_ChildComponent>

@code {
    private string Massage = "";
    private void ShowMassage()
    {
        Massage = "This is massage to show void event call back";
    }
}
