@page "/RazorComponents/ProductDemo"
@using BlazorEcoomer_Server.Pages.ProductsView.Components;
<h3>ProductDemo</h3>
<div class="row">
    <h4>favorite products : @SelectedfavoriteProduct</h4>
</div>
<div class="row">

    @foreach (var prod in lstProduct)
    {
        <_ProductComponent product="@prod" FavoriteProductUpdate="@FavoriteProductUpdate">

        </_ProductComponent>
    }
</div>

@code {
    List<Product> lstProduct = new();
    public int SelectedfavoriteProduct { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        lstProduct.Add(new Product
            {
                ID = 1,
                Name = "TesterProduct 2",
                IsActive = true,
                Price = 10.5,
                ProductsProps = new List<ProductsProp>
                {
                    new ProductsProp
                    {
                        ID = 1,
                        Key = "Color",
                        Value = "Black"
                    },
                    new ProductsProp
                    {
                        ID = 2,
                        Key = "Size",
                        Value = "20 OZ"
                    },new ProductsProp
                    {
                        ID = 3,
                        Key = "Flavor",
                        Value = "Blackberry"
                    },
                }
            });
        lstProduct.Add(new Product
            {
                ID = 1,
                Name = "TesterProduct 1",
                IsActive = true,
                Price = 100.5,
                ProductsProps = new List<ProductsProp>
            {
                new ProductsProp
                {
                    ID = 1,
                    Key = "Color",
                    Value = "white"
                },
                new ProductsProp
                {
                    ID = 2,
                    Key = "Size",
                    Value = "60 x 90"
                },new ProductsProp
                {
                    ID = 3,
                    Key = "Flavor",
                    Value = "Test"
                },
            }
            });
        await Task.CompletedTask;
    }
    protected void FavoriteProductUpdate(bool isSelected)
    {
        if (isSelected)
            SelectedfavoriteProduct++;
        else
            SelectedfavoriteProduct--;
    }
}
